body {
  width: 100%;
  height: 100%;
  background-image: url(../public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(15, 0, 80);
  height: 25rem;
  width: 20%;
  margin: 1rem;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px gray;
  border-radius: 5%;
}

.show {
  overflow-y: auto;
  height: 10rem;
}

img {
  height: 6rem;
  width: 6rem;
}